<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link th:href="@{/static/css/styles.css}" rel="stylesheet">
</head>
<body>
    <header>
      <h1>Welcome to Taco Cloud!</h1>
    </header>
    <div class="container" style="text-align: center;">
        <h2>The best tacos in the cloud matrix</h2>
        <img th:src="@{/static/images/TacoCloud.png}">
        <br>

        <a th:href="@{/design}" class="btn" style="text-decoration: none;">Design your taco</a>
    </div>
</body>
</html>